<!doctype html>
<html lang="en">
  <head>
    <script src="../scripts/particles.js"></script>
    <script src="../scripts/app.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topsis-Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <style>
      #particles-js{
        position: fixed;
        height: 100vh;
        z-index: -1;
      }
    </style>
  </head>
  <body class="bg-dark text-white">
    <div id="particles-js" style="position: fixed;"></div>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
              <a class="navbar-brand fw-bold" href="\templates\index.html">TOPSIS</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="\templates\index.html">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Latest</a>
                      </li>
                      <!-- <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              Brands
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">Air Jordan</a></li>
                              <li><a class="dropdown-item" href="#">Supreme</a></li>
                              <li><a class="dropdown-item" href="#">Converse</a></li>
                              <li><a class="dropdown-item" href="#">Adidas</a></li>
                              <li><a class="dropdown-item" href="#">Balenciaga</a></li>
                              <li><a class="dropdown-item" href="#">Vans</a></li>
                              <li><a class="dropdown-item" href="#">Reebok</a></li>
                              <li><a class="dropdown-item" href="#">Puma</a></li>
                              <li><a class="dropdown-item" href="#">Y-3</a></li>
                              <li>
                                  <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" href="#">Other Brands</a></li>
                          </ul>
                      </li> -->
                      <li class="nav-item">
                          <a class="nav-link active" href="\templates\contact.html">Contact Us</a>
                      </li>
                  </ul>
                  <!-- <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button type="button" class="btn btn-dark">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                        </button>
                  </form> -->
              </div>
          </div>
      </nav>
    <div class="container my-4 class="text-center">
        <div class="fs-1">
            <h1 class="heading">ERROR: PLEASE ENSURE THE FOLLOWING POINTS:</h1>
        </div>
        <div class="fs-4">
            <ol>
            <li>This does'not handle categorical values.</li>
            <li>This takes only csv files as an input File.</li>
            <li>No. of columns in input file must to equal to no. of impacts and weights</li>
            <li>No. of columns must be greater than 3</li>
        </ol>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- Footer -->
        <footer class="container">
          <p class="float-end"></p>
          <p>© 2022–2023 AYUSH NAGPURE, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
  
      <!-- Optional JavaScript; choose one of the two! -->
  
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
          crossorigin="anonymous"></script>
  </body>
</html>
